body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h2 {
  margin-top: 30px;
  margin-bottom: 2rem;
  font-weight: lighter;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #00a35c;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #278f78;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

#result {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #279475;
}
